@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: 'TenorSans';
  src: url('/fonts/TenorSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tenor-font {
  font-family: 'TenorSans', sans-serif;
}


